---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Generate Flashcards">
  <div class="flex min-h-screen items-center justify-center">
    <p class="text-gray-500">Coming soon…</p>
  </div>
</Layout>
